PORT=5000
TELEGRAM_BOT_TOKEN="8929313601:AAFeqcuZ7tmA-uU_zJaUieO3rCKmCcPsXDA"
TELEGRAM_ADMIN_CHAT_ID="8593621016"
GOOGLE_SHEETS_ID=1xyYHshS-ZGuDlVglaN3LonBdW1wbynIGLePvjs2se7g
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwIfs4QyKLQBU7PvLYpOoGjkEKq9pr7O0q7UlbVCdeXlK8PlHWPtGo16fF0-ntLXBjP/exec
